html {
    font-family: 'Roboto', sans-serif;
}
body {
    font-size: 16px;
    line-height: 1.2;
    margin: 0;
}

.rooms-form {
    display: flex;
    flex-wrap: wrap;

}
.rooms-form--side-left,
.rooms-form--side-right {
    min-width: 256px;
    width: 50%;
}
.notifications-badge {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0px;
    font-weight: 500;
    font-size: 12px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.870588);
}


.kettle_btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid #ccc;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);


    background-image: -webkit-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
    background-image: -o-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e0e0e0));
    background-image: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    text-shadow: 0 1px 0 #fff;
}
.kettle_btn:focus,
.kettle_btn:active:focus,
.kettle_btn.active:focus,
.kettle_btn.focus,
.kettle_btn:active.focus,
.kettle_btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.kettle_btn:hover,
.kettle_btn:focus,
.kettle_btn.focus {
    color: #333333;
    text-decoration: none;
    background-color: #e0e0e0;
    background-position: 0 -15px;
}
.kettle_btn:active,
.kettle_btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    background-color: #e0e0e0;
    border-color: #dbdbdb;
}

.kettle_btn.heat {
    background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
    background-image: -o-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f0ad4e), to(#eb9316));
    background-image: linear-gradient(to bottom, #f0ad4e 0%, #eb9316 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #e38d13;
}


.kettle_btn.power {
    background-image: -webkit-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
    background-image: -o-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d9534f), to(#c12e2a));
    background-image: linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #b92c28;
}
.kettle_btn.power:hover,
.kettle_btn.power:focus {
    background-color: #c12e2a;
    background-position: 0 -15px;
}
.kettle_btn.power:active,
.kettle_btn.power.active {
    background-color: #c12e2a;
    border-color: #b92c28;
}

.kettle_btn.heat:hover,
.kettle_btn.heat:focus {
    background-color: #eb9316;
    background-position: 0 -15px;
}
.kettle_btn.heat:active,
.kettle_btn.heat.active {
    background-color: #eb9316;
    border-color: #e38d13;
}

.kettle_btns {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.kettle_btns.kettle_btns__justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}

.kettle_btns > .kettle_btn:not(:first-child):not(:last-child) {
    border-radius: 0;
}
.kettle_btns > .kettle_btn:first-child:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.kettle_btns > .kettle_btn:last-child:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.device-setting-button {
    float: right;
}
.drag-panel {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.topbar-components {}
.topbar-components__item {
    display: inline-block;
}

.head-device--guard {
    position: relative;
    cursor: pointer;
}
.head-device--guard__timer {
    font-size: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #000;
    background: #fff;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    text-align: center;
    line-height: 13px;
}